h1{
  text-align: center;
  text-decoration: underline;
}

.buttons{
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  justify-content: center;
}
button{
  margin-left:1rem;
  height: 4vh;
  width: 10vw;
  font-size: large;
  font-weight: bold;
}